//修改 van-tabs__content 默认高度
.van-tabs {
  height: 100%;
}

.van-tabs__content {
  height: calc(100% - 58px);

  .van-tab__panel {
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}