// page 各个主页面用到的stylus必须在这里先被引用
@import "page/main1";

#pwd-model
    display: none
    .layui-form
        margin-top: 15px
        .operating
            text-align: center;
            .pwd-confirm
                color: #fff
