 .inspection {
     background-color: #f8f9fa;
 }

 .inspection .header_top {
     width: 100%;
     border-top: 0.000009rem solid #dee2e6;
     background: #fff;
 }

 .inspection .list-deal {
     height: 1.706667rem;
     text-align: center;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 0.5rem;
     font-size: 0.597333rem;
 }

 .inspection .list-deal .list-namber {
     font-weight: 600;
 }

 .inspection .list-deal .list-ing {
     color: #ff922b;
     font-size: .597333rem;
 }

 .inspection .area {
     color: #868e96;
 }

 .inspection .list-area {
     /* height: 1.706667rem; */
     display: flex;
     justify-content: flex-start;
     /* align-items: center; */
     margin: 0 0.5rem;
     font-size: .597333rem;
     padding: .426667rem 0;
 }

 .inspection .list-area .main {
     flex: 1;
     word-break: break-all;
 }

 .inspection .ment {
     margin-left: 2.773333rem;
 }

 .inspection .people {
     display: flex;
     justify-content: flex-start;
 }

 .inspection .point {
     margin-left: 0.341333rem;
 }

 .inspection .content {
     width: 100%;
     background: #fff;
     font-size: .597333rem;
     margin-top: 0.512rem;
 }

 .inspection .content .centent-list {
     /* height: 1.706667rem; */
     display: flex;
     justify-content: flex-start;
     /* align-items: center; */
     margin: 0 0.5rem;
     font-size: .597333rem;
     padding: .426667rem 0;
     margin: 0 0.5rem;
 }

 .inspection .reason {
     color: #868e96;
 }

 .inspection .long {
     width: 10.666667rem;
     display: block;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 .inspection .choose {
     width: 100%;
     background: #fff;
     margin-top: 0.512rem;
 }

 .inspection .choose-title {
     height: 2.133333rem;
     margin: 0 0.5rem;
     font-size: .597333rem;
     color: #868e96;
     display: flex;
     align-items: center;
 }

 .inspection .choose-detail {
     height: 1.706667rem;
     margin: 0 0.5rem;
     font-size: .597333rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .inspection .choose-detail .size {
     margin-left: 0.64rem;
 }