extends ./../layout
//- include
//- 网站的头部信息这边拆分出来，便于每个页面的SEO配置和配置页面独有的css，js
block title

    title 广西dsfgsdfdgdf

block content  
    .layOutPage-main.clearfix.index
        .box_1.clearfix
            #change_32.changeBox_a1.fl
                .changeDiv(style='display: block')
                    a(href='#1')
                        img(src='./img/home/change_img.png' alt='')
                    h3
                        a(href='#') 省十三届人大常委会七次会议闭幕111
                .changeDiv(style='display: none')
                    a(href='#2')
                        img(src='./img//1440.png' alt='')
                    h3
                        a(href='#') 省十三届人大常委会七次会议闭幕222
                .changeDiv(style='display: none')
                    a(href='#3')
                        img(src='./img/home/change_img.png' alt='')
                    h3
                        a(href='#') 省十三届人大常委会七次会议闭幕333
                .changeDiv(style='display: none')
                    a(href='#4')
                        img(src='./img/home/change_img.png' alt='')
                    h3
                        a(href='#') 省十三届人大常委会七次会议闭幕444
                .changeDiv(style='display: none')
                    a(href='#5')
                        img(src='./img/home/change_img.png' alt='')
                    h3
                        a(href='#') 省十三届人大常委会七次会议闭幕555
                ul.ul_change_a2
                    li
                        span.on  
                    li
                        span  
                    li
                        span  
                    li
                        span  
                    li
                        span  

            .workResults.fr
                .pageTitle 
                    .text 工作成果 
                .main 
                    div.title2.ellipsis_1 
                        a(href='javascript:;') 鹿心社在自治区体育、文旅、广电部门调研时强调
                    div.ellipsis_2.text2 
                        a(href='javascript:;') 5月17日，自治区党委书记、自治区人大常委会主任鹿心社到自治区体育、文旅、广电部门调研。他强调，要深入贯彻落实好习近平总书记视察广西时的重要讲话和重要指示精神，更好地统筹经济发展与...
                    .clearfix.text3
                        a(href='javascript:;') 
                            .fl [需求调研]   完成常委办业务需求一期调研 
                            .fr 05-19
  
                    .clearfix.text3
                        a(href='javascript:;') 
                            .fl [需求调研]   完成常委办业务需求一期调研 
                            .fr 05-19
  
                    .clearfix.text3
                        a(href='javascript:;') 
                            .fl [需求调研]   完成常委办业务需求一期调研 
                            .fr 05-19
  

        .index_box-2.clearfix
            .list_item.list_item_1
                .pageTitle 
                    .text 工作计划 
                    .text_right.fr
                        a(href='javascript:;') 查看更多
                .main
                    ul
                        li
                            a(href='javascript:;') 
                                .date_box 
                                    .date_top 2021
                                    .bottom_top 05.19
                                .text.ellipsis_1 完成常委办业务需求一期调研完成常委办业务需 
                        li
                            a(href='javascript:;') 
                                .date_box 
                                    .date_top 2021
                                    .bottom_top 05.19
                                .text.ellipsis_1 完成常委办业务需求一期调研完成常委办业务需 
                        li
                            a(href='javascript:;') 
                                .date_box 
                                    .date_top 2021
                                    .bottom_top 05.19
                                .text.ellipsis_1 完成常委办业务需求一期调研完成常委办业务需 
                        li
                            a(href='javascript:;') 
                                .date_box 
                                    .date_top 2021
                                    .bottom_top 05.19
                                .text.ellipsis_1 完成常委办业务需求一期调研完成常委办业务需 
                        li
                            a(href='javascript:;') 
                                .date_box 
                                    .date_top 2021
                                    .bottom_top 05.19
                                .text.ellipsis_1 完成常委办业务需求一期调研完成常委办业务需 

            .list_item.list_item_2
                .pageTitle 
                    .text 经验交流 
                    .text_right.fr
                        a(href='leavingMessage.html') 
                            img(src='./img/icon4.png' alt='')
                            | 我要留言
                .main
                    ul
                        li
                            a(href='javascript:;') 
                                .date_box 
                                    .date_top 2021
                                    .bottom_top 05.19
                                .text.ellipsis_1 完成常委办业务需求一期调研完成常委办业务需 
                        li
                            a(href='javascript:;') 
                                .date_box 
                                    .date_top 2021
                                    .bottom_top 05.19
                                .text.ellipsis_1 完成常委办业务需求一期调研完成常委办业务需 
                        li
                            a(href='javascript:;') 
                                .date_box 
                                    .date_top 2021
                                    .bottom_top 05.19
                                .text.ellipsis_1 完成常委办业务需求一期调研完成常委办业务需 
                        li
                            a(href='javascript:;') 
                                .date_box 
                                    .date_top 2021
                                    .bottom_top 05.19
                                .text.ellipsis_1 完成常委办业务需求一期调研完成常委办业务需 
                        li
                            a(href='javascript:;') 
                                .date_box 
                                    .date_top 2021
                                    .bottom_top 05.19
                                .text.ellipsis_1 完成常委办业务需求一期调研完成常委办业务需 

            .list_item.list_item_3
                .pageTitle 
                    .text 意见建议 
                    .text_right.fr
                        a(href='leavingMessage.html') 
                            img(src='./img/icon3.png' alt='')
                            | 我有建议
                .main
                    ul
                        li
                            a(href='javascript:;') 
                                .date_box 
                                    .date_top 2021
                                    .bottom_top 05.19
                                .text 
                                    .ellipsis_1 完成常委办业务需求一期调研完成常委办业务需 
                                    .ellipsis_1.reply 回   复：已与政协处协调，并组织专题讨论已与政协处协调，并组织专题讨论
 
                        li
                            a(href='javascript:;') 
                                .date_box 
                                    .date_top 2021
                                    .bottom_top 05.19
                                .text 
                                    .ellipsis_1 完成常委办业务需求一期调研完成常委办业务需 
                                    .ellipsis_1.reply 回   复：已与政协处协调，并组织专题讨论已与政协处协调，并组织专题讨论
 
                        li
                            a(href='javascript:;') 
                                .date_box 
                                    .date_top 2021
                                    .bottom_top 05.19
                                .text 
                                    .ellipsis_1 完成常委办业务需求一期调研完成常委办业务需 
                                    .ellipsis_1.reply 回   复：已与政协处协调，并组织专题讨论已与政协处协调，并组织专题讨论
 
                        li
                            a(href='javascript:;') 
                                .date_box 
                                    .date_top 2021
                                    .bottom_top 05.19
                                .text 
                                    .ellipsis_1 完成常委办业务需求一期调研完成常委办业务需 
                                    .ellipsis_1.reply 回   复：已与政协处协调，并组织专题讨论已与政协处协调，并组织专题讨论
 
                        li
                            a(href='javascript:;') 
                                .date_box 
                                    .date_top 2021
                                    .bottom_top 05.19
                                .text 
                                    .ellipsis_1 完成常委办业务需求一期调研完成常委办业务需 
                                    .ellipsis_1.reply 回   复：已与政协处协调，并组织专题讨论已与政协处协调，并组织专题讨论
 
        .index_box-3.clearfix 
            .list_item.list_item_1
                .box_title 
                    img(src='./img/icon1.png' alt='' width='22px')
                    | 设备安装进展
                .main
                    ul
                        li 
                            img(src='./img/1.png' alt='' width='22px')
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50%
                        li 
                            img(src='./img/2.png' alt='' width='22px')
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50%
                        li 
                            img(src='./img/3.png' alt='' width='22px')
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50%
                        li 
                            .img_box 4
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50%
                        li 
                            .img_box 5
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50%
                        li 
                            .img_box 6
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50%
                        li 
                            .img_box 5
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50%
                        li 
                            .img_box 6
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50%
                    .tips 说明：安可设备更换完成百分比

 

            .list_item.list_item_2
                .box_title 
                    img(src='./img/icon1.png' alt='' width='22px')
                    | 系统使用评估
                .main
                    ul
                        li 
                            img(src='./img/1.png' alt='' width='22px')
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50分
                        li 
                            img(src='./img/2.png' alt='' width='22px')
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50分
                        li 
                            img(src='./img/3.png' alt='' width='22px')
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50分
                        li 
                            .img_box 4
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50分 
                        li 
                            .img_box 5
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50分 

                    .tips 说明：各处室系统使用进展得分情况

            .list_item.list_item_3
                .box_title 
                    img(src='./img/icon1.png' alt='' width='22px')
                    | 配合程度评估
                .main
                    ul
                        li 
                            img(src='./img/1.png' alt='' width='22px')
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50分
                        li 
                            img(src='./img/2.png' alt='' width='22px')
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50分
                        li 
                            img(src='./img/3.png' alt='' width='22px')
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50分
                        li 
                            .img_box 4
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50分 
                        li 
                            .img_box 5
                            .press_box 
                                .text 机要局
                                .press_box_box
                                    .press_box_box_box 
                                        .press_box_item(style="width:50%;")
                                    .text2.fr  50分 

                    .tips 说明：各处室配合程度进展得分情况
    .fixe_box.index
        ul.show_box 
            li 
                a(href='leavingMessage.html') 
                    img(src='./img/right_icon2.png' alt='' width='22px')
                    img(class="light" src='./img/right_icon2_l.png' alt='' width='22px')
                    div 我要留言
            li 
                a(href='list.html') 
                    img(src='./img/right_icon3.png' alt='' width='22px')
                    img(class="light" src='./img/right_icon3_l.png' alt='' width='22px')
                    div 留言中心
            li.about 
                img(src='./img/right_icon1_l.png' alt='' width='22px')
                div 关于我们
                .hide_box 
                    .hide_box_box
                        div
                            | 联系电话：
                            br
                            | 0551-6363666
                        div
                            br 
                            | 办公地点：
                            br 
                            | 青秀区青秀山管理委员会 民族大道103号
                        .sanjiao-box
                            .sanjiao-item





block footerEnd
    script(type='text/javascript').
        $(function () {
            $('#change_32 div.changeDiv').soChange({
                thumbObj: '#change_32 .ul_change_a2 span',
                thumbNowClass: 'on',
            })
 
        })